.slick-arrow {
	height: 1.46em; /* 19px; */
	font-size: inherit;
	width: .77em; /* 10px; */
}

.carousel-container {
	.primary-image-container {
		height: 35.62em; /* 463px; */

		.primary-image {
			display: block;
			margin: auto;
		}
	}

	.view-larger {
		background: url('images/magnifying-glass.png') left center no-repeat;
		box-sizing: border-box;
		color: $gray;
		display: block;
		font-size: 108%; /* 14px; */
		height: 1.99em; /* 28px; */
		line-height: 1.99; /* 28px; */
		margin: auto;
		margin-bottom: 1.07em; /* 15px; */
		padding-left: 2.28em; /* 32px; */
		text-decoration: none;
		width: 7.25em; /* 102px; */
	}

	.slider-container {
		height: 5em; /* 65px; */
		margin: auto;
		width: 20.08em; /* 261px; */

		.slide {
			height: 5em; /* 65px; */
			margin: 0 .85em; /* 0 11px; */
			width: 5em; /* 65px; */
		}
	}
}
